
input {
  display: block;
  border-top-right-radius: 7px;
  outline: none;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}

main {
  color: white;
}

header * {
  display: inline-block;
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

header li {
  margin: 20px;
  border-right: 1px solid black;
  padding-left: 10px;
  width: 70px;

}

header li a {
      color: black;
      text-decoration: none;
}
